

*
{
  margin:0;
  padding:0;
  box-sizing: border-box;

  }
  html{
    scroll-behavior: smooth;
  }



body{
  background-image: radial-gradient(#1b2735 0%,#090a0f 100%);

  height: 100vh;
  box-sizing: border-box;


}

@media (min-width:480px) {
  .stark{

  height:100px;
  width:100px;
  margin:20px 20px 20px 20px;
  position: relative;
  left: 100px;

  }



  header{
    position:absolute;
    top: 0;
    left:0px;




    width:100%;
    padding:30px 0 30px 0;
    margin:auto;
    display:flex;
    justify-content: space-between ;
    align-items: center;
  }
  header ul{
    display:flex;
    position:absolute;
    right:100px;

  }
  header ul li{
    list-style: none;
    margin-left: 25px;



  }

  header ul li a {
    text-decoration: none;
    color:white;
    padding: 6px 15px;
    border-radius: 20px;
    background: black;
    /* opacity: 1; */

  }

  header ul li a:hover {
    background:white;
    color:black;
  }


}

@media (min-width:480px) and (max-width:1024px) {
  .stark{

  height:100px;
  width:100px;
  margin:20px 20px 20px 20px;
  position: relative;
  left: 100px;

  }



  header{
    position:absolute;
    top: 0;
    left:0px;




    width:100%;
    padding:30px 0 30px 0;
    margin:auto;
    display:flex;
    justify-content: space-between ;
    align-items: center;
    /* font-size: 30px; */
  }
  header ul{
    display:flex;
    position:absolute;
    right:100px;

  }
  header ul li{
    list-style: none;
    margin-left: 25px;



  }

  header ul li a {
    text-decoration: none;
    color:white;
    padding: 6px 15px;
    border-radius: 20px;
    background: black;
    /* opacity: 1; */

  }

  header ul li a:hover {
    background:white;
    color:black;
  }

}







.first{
  height: 100%;
  width: 100%;
  /* background-image: url("../images/ironman.jpg"); */
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-position: center; */


}

@media (min-width:480px) {
  .first{
    background-image: url("../images/ironman.jpg");
    background-size: cover;
  }

}
@media (min-width:480px) and (max-width:1024px) {
  .first{
    background-image: url("../images/ironman2.jpg");
    background-size: cover;
    margin: auto;



  }


}
/* #ironman{

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 100px;
  letter-spacing: 20px;
  background-image: url("../images/tony.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip:text;
  color: transparent;




} */



@media (min-width:480px) {
  .head{
    position:absolute;
    top:260px;
    left:100px;


  }
  #ironman{

    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
    letter-spacing: 20px;
    background-image: url("../images/tony.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;




  }
  .para{
    position:absolute;
    top: 425px;
    left: 150px;
    color: white;
    width: 50%;
    text-align: center;
    font-size: 24px;
  }
  .fly{
    position:absolute;
    top:580px;
    left:200px;
    width:150px;
    height: 150px;
    animation-name: flying;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;






  }






  @keyframes flying {
    0%{
      top:580px;
      left:250px;
    }

    100%{
      top:0px;
      left:800px;
      visibility:hidden;




    }







  }
  .fly img{

    height:150px;
    width: 150px;


  }



}
@media (min-width:480px)and (max-width:1024px) {
  .head{
    position:absolute;
    top: 260px;
    left: 100px;
    right:100px;



    margin: auto;
    text-align: center;





  }
  #ironman{

    font-family: 'Rubik Mono One', sans-serif;
    font-size: 95px;
    letter-spacing: 20px;
    background-image: url("../images/tony.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;




  }
  .para{
    position:absolute;
    top: 750px;
    left: 100px;
    color: white;
    width: 50%;
    text-align: left;
    font-size: 40px;
  }
  .fly{
    position:absolute;
    top:900px;
    left:200px;
    width:300px;
    height: 300px;
    animation-name: flying;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;






  }






  @keyframes flying {
    0%{
      top:1500px;
      left:250px;
    }

    100%{
      top:150px;
      left:600px;
      visibility:hidden;




    }







  }
  .fly img{

    height:300px;
    width: 300px;


  }



}












/* .para{
  position:absolute;
  top: 425px;
  left: 150px;
  color: white;
  width: 50%;
  text-align: center;
  font-size: 24px;
} */

/* .fly{
  position:absolute;
  top:580px;
  left:200px;
  width:150px;
  height: 150px;
  animation-name: flying;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;






}






@keyframes flying {
  0%{
    top:580px;
    left:250px;
  }

  100%{
    top:0px;
    left:600px;
    visibility:hidden;




  }







}
 */






/* .fly img{

  height:150px;
  width: 150px;


} */
#music{
  position: absolute;
  top: 500px;
  left: 600px;
  visibility: hidden;
}

#paragraph{
  padding:20px;
}

#one{
  padding: 20px;
}

@media (min-width:480px) {
  .second{
    /* width: 100%;
    height: 100%; */
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;

  }



  .container{

    position: relative;
    max-width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 1;






    flex-wrap: wrap;

    color:white;







  }

  .container .card1 {
    position: relative;
    width: 500px;
    height: 600px;


    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);

    display: flex;
    justify-content: center;
    align-items:center;
    border-top:1px  solid rgba(255, 255, 255, 0.5);
    border-left:1px  solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter:blur(5px); */
    transition: transform 1s ease-in-out ;
    transform-style: preserve-3d;



  }



  .content1 {
    backface-visibility: hidden;




  }
  .card1:hover{
   transform: rotateY(180deg);

  }


  .back1{
    transform:rotateY(180deg);

    backface-visibility: hidden;
    position: absolute;

    text-align: center;
    /* backdrop-filter:blur(0.5px); */
    background-image: url("../images/stark1.png");
    background-size: cover;
    height: 460px;
    width: 430px;
    padding: 20px;






  }






  .container .card1 .content1{

    width: 469px;
    height: 500px;


    text-align: center;
    padding: 20px;



  }

  .container .card1 .content1 h2 ,h3,p,a{
    padding-top: 10px;
    padding-bottom: 10px;

  }



  /* #firstpara   {
    line-height: 2;
  } */



  .content1 a{
    /* position: relative; */
    display: inline-block;
    /* top:80px; */
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration: none;

  }


  .container .card1 .content1 h2{

    /* position: absolute; */
    font-size: 50px;
    /* right: 40px;
    top: -8px; */
    color: rgba(255, 255, 255, 0.2);
  }

  .container .card1 .content1 h3{
    position: relative;


    font-size: 30px;
    color: white;
    z-index: 1;
  }

  .container .card1 .content1 p{
    line-height:2;
    /* font-size: 20px; */



  }


  /* .container .card .content h3,p{
    position: relative;
    top: 50px;
  }

  .content{
    height: 500px;
  } */
  .container .card2 {
    position: relative;
    width: 500px;
    height: 600px;


    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);

    display: flex;
    justify-content: center;
    align-items:center;
    border-top:1px  solid rgba(255, 255, 255, 0.5);
    border-left:1px  solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter:blur(5px); */
    transition: transform 1s ease-in-out ;
    transform-style: preserve-3d;


  }
  .content2 {
    backface-visibility: hidden;




  }
  .card2:hover {
   transform: rotateY(180deg);

   }


  .back2{
    transform:rotateY(180deg);

    backface-visibility: hidden;
    position: absolute;

    text-align: center;
    /* backdrop-filter:blur(0.5px); */
    background-image: url("../images/stark2.jpg");
    background-size: cover;
    height: 460px;
    width: 430px;
    padding: 20px;






  }

  .container .card2 .content2{
    width: 469px;
    height: 500px;


    text-align: center;
    padding: 20px;


  }
  .container .card2 .content2 h2 ,h3,p,a{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content2 a{
    /* position: relative; */
    display: inline-block;
    /* top:80px; */
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration: none;

  }

  .container .card2 .content2 h2{

    /* position: absolute; */
    font-size: 50px;
    /* right: 40px;
    top: -8px; */
    color: rgba(255, 255, 255, 0.2);
  }

  .container .card2 .content2 h3{
    position: relative;


    font-size: 30px;
    color: white;
    z-index: 1;
  }

  .container .card3 {
    position: relative;
    width: 500px;
    height: 750px;


    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);

    display: flex;
    justify-content: center;
    align-items:center;
    border-top:1px  solid rgba(255, 255, 255, 0.5);
    border-left:1px  solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter:blur(5px); */
    transition: transform 1s ease-in-out ;
    transform-style: preserve-3d;
  }
  .content3 {
    backface-visibility: hidden;




  }
  .card3:hover {
   transform: rotateY(180deg);
  }




  .back3{
    transform:rotateY(180deg);

    backface-visibility: hidden;
    position: absolute;

    text-align: center;
    align-items: center;


    /* backdrop-filter:blur(0.5px); */
    /* background-image: url("../images/stark2.jpg"); */
    /* background-size: cover; */
    height: 700px;
    width: 400px;
    padding: 20px;








  }


  .container .card3 .content3{
    width: 429px;
    height: 740px;


    text-align: center;
    padding: 20px;


  }

  .container .card3 .content3 h2 ,h3,a{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content3 a{
    /* position: relative; */
    display: inline-block;
    /* top:80px; */
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration: none;

  }

  .container .card3 .content3 h2{

    /* position: absolute; */
    font-size: 50px;
    /* right: 40px;
    top: -8px; */
    color: rgba(255, 255, 255, 0.2);
  }

  .container .card3 .content3 h3{
    position: relative;


    font-size: 30px;
    color: white;
    z-index: 1;
  }

  .back1 a{
    position: relative;
    top: 465px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    border: solid white 2px;
    color: white;
    font-weight: bold;

  }
  .back2 a{
    position: relative;
    top: 465px;
    padding: 10px;
    border-radius: 10px;
    background-color:transperent;
    text-decoration: none;
    border: solid white 2px;
    color: white;
    font-weight: bold;
  }
  /* .back3 a{
    position: relative;
    top: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    text-decoration: none;

  } */

  .back3 video{
    z-index: 1;
  }
  .back3 h2 {
    position: relative;
    top: 620px;
    font-size:40px;

  }


}

@media (min-width:480px)and (max-width:1024px) {
  .second{
    /* width: 100%;
    height: 100%; */
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;

  }



  .container{

    position: relative;
    max-width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 1;






    flex-wrap: wrap;

    color:white;







  }

  .container .card1 {
    position: relative;
    width: 1000px;
    height: 1200px;


    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);

    display: flex;
    justify-content: center;
    align-items:center;
    border-top:1px  solid rgba(255, 255, 255, 0.5);
    border-left:1px  solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter:blur(5px); */
    transition: transform 1s ease-in-out ;
    transform-style: preserve-3d;



  }



  .content1 {
    backface-visibility: hidden;




  }
  .card1:hover{
   transform: rotateY(180deg);

  }


  .back1{
    transform:rotateY(180deg);

    backface-visibility: hidden;
    position: absolute;

    text-align: center;
    /* backdrop-filter:blur(0.5px); */
    background-image: url("../images/stark1.png");
    background-size: cover;
    height: 800px;
    width: 800px;
    padding: 20px;






  }






  .container .card1 .content1{

    width: 900px;
    height: 900px;


    text-align: center;
    padding: 20px;



  }

  .container .card1 .content1 h2 ,h3,p,a{
    padding-top: 10px;
    padding-bottom: 10px;

  }



  /* #firstpara   {
    line-height: 2;
  } */



  .content1 a{
    /* position: relative; */
    display: inline-block;
    /* top:80px; */
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration: none;

  }


  .container .card1 .content1 h2{

    /* position: absolute; */
    font-size: 100px;
    /* right: 40px;
    top: -8px; */
    color: rgba(255, 255, 255, 0.2);
  }

  .container .card1 .content1 h3{
    position: relative;


    font-size: 60px;
    color: white;
    z-index: 1;
  }

  .container .card1 .content1 p{
    line-height:2;
    font-size: 32px;



  }


  /* .container .card .content h3,p{
    position: relative;
    top: 50px;
  }

  .content{
    height: 500px;
  } */
  .container .card2 {
    position: relative;
    width: 1000px;
    height: 1200px;


    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);

    display: flex;
    justify-content: center;
    align-items:center;
    border-top:1px  solid rgba(255, 255, 255, 0.5);
    border-left:1px  solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter:blur(5px); */
    transition: transform 1s ease-in-out ;
    transform-style: preserve-3d;


  }
  .content2 {
    backface-visibility: hidden;




  }
  .card2:hover {
   transform: rotateY(180deg);

   }


  .back2{
    transform:rotateY(180deg);

    backface-visibility: hidden;
    position: absolute;

    text-align: center;
    /* backdrop-filter:blur(0.5px); */
    background-image: url("../images/stark2.jpg");
    background-size: cover;
    height: 800px;
    width: 800px;
    padding: 20px;






  }

  .container .card2 .content2{
    width: 900px;
    height: 1000px;


    text-align: center;
    padding: 20px;


  }
  .container .card2 .content2 h2 ,h3,p,a{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .card2 .content2 p{
    font-size: 32px;
    line-height: 2

  }



  .content2 a{
    /* position: relative; */
    display: inline-block;
    /* top:80px; */
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration: none;

  }

  .container .card2 .content2 h2{

    /* position: absolute; */
    font-size: 100px;
    /* right: 40px;
    top: -8px; */
    color: rgba(255, 255, 255, 0.2);
  }

  .container .card2 .content2 h3{
    position: relative;


    font-size: 60px;
    color: white;
    z-index: 1;
  }

  .container .card3 {
    position: relative;
    width: 1000px;
    height: 1600px;


    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);

    display: flex;
    justify-content: center;
    align-items:center;
    border-top:1px  solid rgba(255, 255, 255, 0.5);
    border-left:1px  solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter:blur(5px); */
    transition: transform 1s ease-in-out ;
    transform-style: preserve-3d;
  }
  .content3 {
    backface-visibility: hidden;




  }
  .card3:hover {
   transform: rotateY(180deg);
  }




  .back3{
    transform:rotateY(180deg);

    backface-visibility: hidden;
    position: absolute;

    text-align: center;
    align-items: center;


    /* backdrop-filter:blur(0.5px); */
    /* background-image: url("../images/stark2.jpg"); */
    /* background-size: cover; */
    height: 1500px;
    width: 800px;
    padding: 20px;








  }


  .container .card3 .content3{
    width: 900px;
    height: 1500px;


    text-align: center;
    padding: 20px;


  }

  .container .card3 .content3 h2 ,h3,a{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .card3 .content3 p{
    font-size: 32px;
    line-height: 2;
  }

  .content3 a{
    /* position: relative; */
    display: inline-block;
    /* top:80px; */
    padding-right: 10px;
    padding-left: 10px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration: none;

  }

  .container .card3 .content3 h2{

    /* position: absolute; */
    font-size: 100px;
    /* right: 40px;
    top: -8px; */
    color: rgba(255, 255, 255, 0.2);
  }

  .container .card3 .content3 h3{
    position: relative;


    font-size: 60px;
    color: white;
    z-index: 1;
  }

  .back1 a{
    position: relative;
    top: 808px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    border: solid white 2px;
    color: white;
    font-weight: bold;
    font-size: 40px;

  }
  .back2 a{
    position: relative;
    top: 808px;
    padding: 10px;
    border-radius: 10px;
    background-color:transperent;
    text-decoration: none;
    border: solid white 2px;
    color: white;
    font-weight: bold;
    font-size: 40px;
  }
  /* .back3 a{
    position: relative;
    top: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    text-decoration: none;

  } */

  .back3 video{
    z-index: 1;
    width:700px;
    height: 1300px;
  }
  .back3 h2 {
    position: relative;
    top: 1385px;
    font-size:60px;

  }

}


@media (min-width:480px) {
  .last{
    text-align: center;
    align-items: center;

  }
  .last{
    color: white;
    background-color: rgba(0,0,0);




  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 15px;


  }

  .fa-linkedin {
    background:#24A19C;
    color: white;
  }
  .fa-linkedin:hover {
    background:#086E7D;
    color: white;
  }

}

@media (min-width:480px) and (max-width:1024px) {
  .last{
    text-align: center;
    align-items: center;

  }
  .last{
    color: white;
    background-color: rgba(0,0,0);
    font-size: 30px;





  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 15px;


  }

  .fa-linkedin {
    background:#24A19C;
    color: white;
  }
  .fa-linkedin:hover {
    background:#086E7D;
    color: white;
  }

}
